<meta charset="UTF-8">
<link rel="stylesheet" href="css/idfit_connexion.css">
  <link rel="stylesheet" href="css/inline.css">
<script src="js/idfit_app.js"></script>


<div class="u-style-9">
<div class="split">
  <div class="left">
    <div class="brand">
      <div class="brand-name">IdFit</div>
      <div class="brand-tag">Atteindre son idéal</div>
    </div>
    <div class="left-body">
      <input id="login-password" class="inp" type="password" value="••••••••">
      <p>Un programme personnalisé basé sur votre IMC, vos objectifs et votre style de vie.</p>
    <div id="login-message" class="u-style-10"></div>
    </div>
    <div class="stats">
      <div><div class="stat-v">5 000+</div><div class="stat-l">Utilisateurs actifs</div></div>
      <div><div class="stat-v">98%</div><div class="stat-l">Satisfaction</div></div>
    </div>
  </div>

  <div class="right">
    <div class="tabs">
      <div class="tab on">Connexion</div>
      <div class="tab" data-prompt="Montre-moi la page inscription IdFit">Créer un compte</div>
    </div>

    <div class="field">
      <div class="flabel"><i class="ti ti-mail" aria-hidden="true"></i> Email</div>
      <input id="login-email" class="inp ok" type="email" value="finaritra@gmail.com">
    </div>
    <div class="field">
      <div class="flabel"><i class="ti ti-lock" aria-hidden="true"></i> Mot de passe</div>
      <input class="inp" type="password" value="••••••••">
    </div>
    <div class="forgot">Mot de passe oublié ?</div>
    <div class="remember">
      <input type="checkbox" checked id="rem">
      <label for="rem">Se souvenir de moi</label>
    </div>
    <button class="btn-main" data-action="authenticate"><i class="ti ti-login" aria-hidden="true"></i> Se connecter</button>
    <div class="divider"><div class="dline"></div><span class="dtext">ou</span><div class="dline"></div></div>
    <button class="google-btn"><i class="ti ti-brand-google u-style-11" aria-hidden="true"></i> Continuer avec Google</button>
    <div class="switch">Pas encore de compte ? <span data-prompt="Montre-moi la page inscription IdFit">S'inscrire gratuitement</span></div>
  </div>
</div>
</div>



